header .menu{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(77, 73, 73, 0.568);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .menu ul{
    list-style: none;
}

header .menu ul li{
    position: relative;
    float: left;
    
}

header .menu ul li a{
    font-size: 17px;
    padding: 20px;
    color: white;
    display: block;
    text-decoration: none;
}

header .menu ul li a:hover{
    background-color: #3e3cb4;
    
}

header .menu ul li .pre{
    color: rgb(255, 52, 52);
    font-size: 17px;
}
.menu ul li ul li a{
    font-size: 14px;
}

header .menu ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: rgba(77, 73, 73, 0.568);
    display: none;
}

header .menu ul li ul li{
    width: 100%;
}


header .menu ul li:hover > ul{
    display: initial;
}

#barramenu{
    display: none;
}

header label{
    font-size: 20px;
    background-color: rgba(0, 0, 0, .1);
    color: white;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:991px){

    header .menu{
        background-color: rgb(255, 255, 255);
        position: absolute;
        right: initial;
        top: 10%;
    }

    header .menu ul li a{
        color: black;
    }

    
    header .menu ul li{
        clear: both;
        display: none;
        width: 100%;
    }

    header label{
        display: block;
        padding: 2%;
        position: absolute;
        right: 0%;
        left: 0%;
        background-color: rgb(255, 255, 255);
        
    }
    header label img{
        width: 5%;
    }

    header .menu ul li ul li a{
        
        display: none;
     
    }

    #barramenu:checked ~ .menu ul li{
        display: block;
    }
    


}